:root {
    --main-font-color: white;
    --secondary-font-color: #999999;
    --main-color-transparent: #181818b4;
    --main-color: #000000;
    --secondary-color: rgb(10, 10, 10);
}

* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--main-font-color);
}


body {
    background-color: var(--main-color);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    z-index: 1;
    background-color: var(--main-color-transparent);
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    top: 0;
}

footer {
    background-color: var(--secondary-color);
    height: 60px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 2em;
}

#logo img{
    height: 2.5em;
    aspect-ratio: 1;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-right: 10px;
}

#navbar {
    position: relative;
}

#navbar ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

#navbar li {
    padding: 10px;
    font-size: 1.25em;
    margin: 0 20px;
    border-radius: 6px;
    cursor: pointer;
}

#navbar li:hover {
    transition: 300ms;
    scale: 95%;
}

#hamburger {
    display: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

#welcome-section {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    max-height: 85vh;
}

.button-container {
    bottom: 4rem;
    right: 5%;
    position: absolute;
    opacity: 0%;
    flex-direction: column;
    display:flex;
    gap: 1em;
}

.button-container button {
    display: flex;
    width: 1.5em;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
    padding: 0;
}

#welcome-section video {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
}

#welcome-section:hover > .button-container {
    transition: 400ms;
    opacity: 100%;
}

#welcome-section .name_description {
    margin-left: 10%;
}

#welcome-section h1 {
    font-size: 4.5vw;
}

#welcome-section h2 {
    font-size: 3vw;
    font-weight: 200;
}

#about {
    background-color: var(--secondary-color);
    display: flex;
    padding: 40px;
    font-size: 1.25em;
    justify-content: space-evenly;
}

#about-info {
    width: 50%;
}

#about-info p {
    white-space:pre-line;
    margin: 10px 0;
}

#skills ul {
    margin-top: 10px;
    height: 10em;
    overflow-y: scroll;
    padding: 0;
}

#skills ul::-webkit-scrollbar {
    display: none;
}

#skills {
    position: relative;
}

#skills::before {
    position: absolute;
    height: 13em;
    width: 14em;
    content: "";
    background: linear-gradient( to top, var(--secondary-color), rgba(34, 34, 34, 0) 80% );
    pointer-events: none;
}

#skills li {
    margin-bottom: 10px;
}


.project-tile {
    width: 480px;
    padding: 25px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    position: relative;
}

.project-tile #date {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: var(--secondary-font-color);
}

.project-tile p {
    font-size: 1.2em;
}

.project-tile h4 {
    margin-top: 5px;
    font-weight: 200;
}

#contact, #projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
}

#projects {
    flex-direction: row-reverse;
    gap: 2em;
    margin: 40px auto;
}

#contact {
    margin: 40px auto;
    padding: 40px;
    background-color: var(--secondary-color);

}

#contact-text {
    padding-right: 15px;
    line-height: 1.5;
}


#contact form {
    border-radius: inherit;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

#contact form div {
    padding: 5px;
    width: 25%;
}

#contact form input {
    margin: 5px 5px 5px 0;
    height: 30px;
    width: 100%;
    color: black;
}

button {
    background-color: var(--main-color-transparent);
    color: var(--main-font-color);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
    padding: 12px 40px;
    border: none;
    outline: none;
    transition: 100ms;
}

button:focus {
    outline: auto;
}

button:hover {
    scale: 102%;
}

button:active {
    scale: 98%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1500px) {
    #welcome-section {
        margin-top: 5vh;
    }
    
    .button-container {
        bottom: 4rem;
    }

    #projects {
        flex-direction: column;
        gap: 1em;
    }

    .project-tile {
        margin: 10px;
    }

    #contact form {
        flex-direction: column;
    }

    #contact form div {
        padding: 5px;
        width: 98%;
    }

    .button {
        max-width: 160px;
        margin: 5px auto;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        height: 6vh;
    }

    #logo img{
        height: 70%;
    }
    
    .button-container {
        top: 1rem;
        gap: 0.5em;
    }

    .button-container button {
        font-size: 2em;
    }

    #welcome-section {
        margin-top: 6vh;
        align-items:end;
    }

    #welcome-section .name_description {
        margin-left: 1.5em;
        margin-bottom: 4.5%;
    }

    #welcome-section h1 {
        font-size: 2.4em;
    }

    #welcome-section h2 {
        font-size: 1.4em;
    }

    #about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
    }

    #about h1,
    #about h2 {
        text-align: center;
    }

    #about-info {
        width: 75%;
    }

    #skills {
        margin-top: 20px;
    }
    #skills ul {
        height: 10em;
    }

    #contact {
        flex-direction: column;
    }
    
    #contact-text {
        padding-right: 0;
        padding-bottom: 15px;
    }
    
    #logo img{
        font-size: 4em;
    }
    
    #navbar ul {
        top: 0;
        right: 0;
        height: 100%;
        position: fixed;
        background-color: var(--main-color-transparent);
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4em 3em 0 3em;
    }
    
    #navbar li {
        margin: 0.5em 0;
        padding: 0;
        font-size: 1.5em;
    }
    
    #hamburger {
        z-index: 1;
        display: block;
    }
    
    .nav-toggle {
        display: none;
    }
    
    .project-tile {
        width: 75%;
        padding: 25px 40px;
    }
    
}