:root {
    --main-font-color: white;
    --secondary-font-color: #999999;
    --main-color: rgb(0, 0, 0);
    --secondary-color: rgb(8, 8, 8);
    --main-color-transparent: rgba(20, 20, 20, 0.4);
}

@property --navbar-main {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 0);
    inherits: false;
  }
  
  @property --navbar-transparent {
    syntax: '<color>';
    initial-value: rgb(0, 0, 0, 0);
    inherits: false;
  }

* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--main-font-color);
}

body {
    background-color: var(--main-color);
}

h2 {
    font-size: 2rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, var(--navbar-main), var(--navbar-transparent));
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    top: 0;
    transition: --navbar-main 1s, --navbar-transparent 1s;
}
header:hover {
    --navbar-main: rgba(0, 0, 0, 0.7);
}

footer {
    background-color: var(--secondary-color);
    height: 60px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
}

#logo img {
    height: 2.5em;
    aspect-ratio: 1;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

#navbar {
    position: relative;
}

#navbar ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

#navbar li {
    padding: 10px;
    font-size: 1.25em;
    margin: 0 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 300ms;
}

#navbar li:hover {
    scale: 95%;
}

.hamburger .line {
    width: 24px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger {
    position: relative;
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#hamburger:hover {
    transition: 200ms;
    scale: 105%;
}

#hamburger.is-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger:before {
    scale: 90%;
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger.is-active:before {
    border: 3px solid #ecf0f1;
}

#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

#hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(90deg);
    -ms-transform: translateY(-10px) rotate(90deg);
    -o-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
}

#welcome-section {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    max-height: 87vh;
    overflow: hidden;
}

.button-container {
    bottom: 4rem;
    right: 5%;
    position: absolute;
    opacity: 0%;
    flex-direction: column;
    display: flex;
    gap: 1em;
}

.button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
    padding: 0;
}
.button-container button img {
    fill: white;
    width: 1em;
    height: 1em;
    padding: 0.2em;
}

#welcome-section video {
    z-index: -1;
    position: absolute;
    width: 100%;
    margin: auto;
}

#welcome-section:hover > .button-container {
    transition: 400ms;
    opacity: 100%;
}

#welcome-section .name_description {
    margin-left: 10%;
}

#welcome-section h1 {
    font-size: 4.5vw;
}

#welcome-section h2 {
    font-size: 3vw;
    font-weight: 200;
}

/* Icons */

#net {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em 0;
    gap: 1em;
}

#net h2 {
    text-align: center;
}

#network-icons {
    display: grid;
    grid-template-areas: "box1 box2 box3 box4";
    gap: 1em;
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
}

.net-icon {
    text-align: center;
    position: relative;
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.net-icon:hover {
    scale: 110%;
}

/* About section */

#about {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-areas:
        "A B"
        "A C";
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    padding: 2.5em 10em;
    font-size: 1.25rem;
}

#about-info {
    grid-area: A;
}

@media (min-width: 1500px) {
    #about {
        grid-template-areas: "A B C";
        grid-auto-columns: 40% auto auto;
        padding: 4em auto;
        gap: 4em;
    }
}
#about-info p {
    margin: 10px 0;
}

#list-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#list-container ul {
    margin: 10px 0;
    height: 7.5em;
    overflow-y: scroll;
    padding: 0;
}

#list-container ul::-webkit-scrollbar {
    display: none;
}

#list-container ul::before {
    position: absolute;
    height: 10rem;
    width: 100%;
    content: "";
    background: linear-gradient(
        to top,
        var(--secondary-color),
        rgba(34, 34, 34, 0) 100%
    );
    pointer-events: none;
}

#skills li {
    margin-bottom: 10px;
}

#name_accent {
    outline: solid rgba(255, 255, 255, 0);
    border-radius: 0.25em;
    outline-offset: 2px;
    background-color: transparent;
    transition: 200ms;
}

#name_accent:hover {
    outline: 1px solid;
}

.project-tile {
    width: 25%;
    padding: 2em;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    position: relative;
}

.project-tile .date {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: var(--secondary-font-color);
}

.project-tile img {
    width: 60%;
    min-width: 5em;
    max-width: 10em;
    background-color: var(--main-color-transparent);
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 8px;
    transition: 100ms;
}

.project-tile img:hover {
    transform: scale(1.01);
}

.project-tile p {
    font-size: 1.2em;
}

.project-tile h4 {
    margin-top: 10px;
    font-weight: 200;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
}

#projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    gap: 2em;
    margin: 40px auto;
}

.nowarp {
    white-space: nowrap;
}

#contact {
    margin: 40px auto;
    padding: 40px;
    background-color: var(--secondary-color);
}

#contact-text {
    padding-right: 15px;
    line-height: 1.5;
}

#contact form {
    border-radius: inherit;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

#contact form div {
    padding: 5px;
    width: 25%;
}

#contact form input {
    margin: 5px 5px 5px 0;
    height: 30px;
    width: 100%;
    color: black;
}
#contact form button {
    padding: 12px 40px;
}

button,
.net-icon {
    background-color: var(--main-color-transparent);
    color: var(--main-font-color);
    border-radius: 18%;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    outline: none;
    transition: 100ms;
}

.larger {
    font-size: 1.12rem;
}

.smaller {
    font-size: 1rem;
}

button:focus {
    outline: auto;
}

button:hover {
    scale: 104%;
}

button:active {
    scale: 98%;
}

#gallery {
    background-color: var(--secondary-color);
    padding: 3rem 0 3rem 0;
    margin-bottom: 3rem;
    text-align: center;
}
#gallery h2 {
    margin-bottom: 3rem;
}

.gallery {
    margin: 0 10%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.img-panel {
    flex: 1 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img {
    width: 100%;
    vertical-align: middle;
    aspect-ratio: 1;
    transition: 150ms;
    object-fit: cover;
}

.img-panel:hover > .img {
    transform: scale(1.02);
    filter: drop-shadow(0 0 1rem black);
}

.thumb-viewer {
    z-index: 2;
    display: none;
}
.view-open {
    overflow: hidden;
}
.view-open .thumb-viewer {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.viewer-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.viewer-body img {
    max-width: 90%;
    max-height: 90%;
}
.prev,
.next {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-top: 5px solid #bbb;
    border-left: 5px solid #bbb;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto 15px;
    opacity: 0.6;
    z-index: 5;
}
.next {
    border: none;
    border-bottom: 5px solid #bbb;
    border-right: 5px solid #bbb;
    left: auto;
    right: 15px;
}
.prev:hover,
.next:hover {
    opacity: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1500px) {
    #welcome-section {
        margin-top: 5vh;
    }

    .button-container {
        bottom: 4rem;
    }

    #about {
        gap: 2em;
    }

    #about-info {
        justify-content: end;
        width: 100%;
    }

    #skills h2 {
        margin: auto;
    }

    #net {
        padding: 0;
    }
    #contact form {
        flex-direction: column;
    }

    #contact form div {
        padding: 5px;
        width: 98%;
    }

    .button {
        max-width: 160px;
        margin: 5px auto;
    }

    .img-panel {
        flex: 1 0 35%;
    }
}

@media (max-width: 1300px) {
    #projects {
        width: 60%;
        flex-direction: column;
        gap: 1.5em;
    }

    .project-tile {
        width: 100%;
        padding: 1.5em;
    }

    .project-tile img {
        margin-bottom: 2%;
        max-width: 8em;
    }
}

@media (max-width: 980px) {
    #navbar li {
        margin: 0 10px;
    }

    #skills h2 {
        padding-left: 0;
    }

    #list-container ul {
        margin-left: 0;
    }

    #network-icons {
        grid-template-areas: "box1 box2" "box3 box4";
    }

    #about {
        grid-template-areas: "A A" "B C";
        padding: 4em 15%;
    }
}

@media (max-width: 672px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        height: 3.5em;
    }

    #logo img {
        height: 70%;
    }

    #hamburger {
        display: block;
    }

    .button-container {
        top: 1rem;
        gap: 0.5em;
    }

    .button-container button {
        font-size: 2em;
    }

    #welcome-section {
        margin-top: 6vh;
        align-items: end;
    }

    #welcome-section .name_description {
        margin-left: 5%;
        margin-bottom: 4.5%;
    }

    #welcome-section h1 {
        font-size: 2.4em;
    }

    #welcome-section h2 {
        font-size: 1.4rem;
    }

    #about {
        grid-template-areas: "A" "B" "C";
        padding: 10%;
        flex-direction: column;
        font-size: 1em;
        align-items: start;
    }

    #about h1,
    #about h2 {
        text-align: center;
    }

    #skills {
        margin-top: 20px;
    }

    #list-container ul {
        margin: 10px auto;
        height: 10em;
    }

    #list-container ul::before {
        width: 11.5rem;
        overflow: hidden;
    }

    #contact {
        flex-direction: column;
    }

    #contact-text {
        padding-right: 0;
        padding-bottom: 15px;
    }

    #logo img {
        font-size: 4em;
    }

    #navbar ul {
        top: 0;
        right: 0;
        height: 100%;
        position: fixed;
        background-color: var(--main-color-transparent);
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15% 10% 0 10%;
        transition: 200ms;
    }

    #navbar li {
        margin: 0.5em 0;
        padding: 0;
        font-size: 1.5em;
    }

    .nav-toggle {
        opacity: 0;
        translate: 100%;
    }
}
